name: Run yarn install Regardless

on:
  push:
    branches: [esm-patient-flags]
  pull_request:
    branches: [esm-patient-flags]
  release:
    types:
      - created

env:
  TURBO_API: 'http://127.0.0.1:9080'
  TURBO_TOKEN: ${{ secrets.TURBO_SERVER_TOKEN }}
  TURBO_TEAM: ${{ github.repository_owner }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: check yarn version
        run: yarn -v

      - name: create alternative lockfile
        run: yarn lockfile generate --filename alternative-yarn.lock
        
